# Node.js
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MacOS
.DS_Store

# TypeScript
*.tsbuildinfo

# Ignore all dist files
/dist
# But not dist/index.js and dist/index.d.ts
!/dist
!/dist/index.js
!/dist/index.d.ts

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Parcel cache (https://parceljs.org/)
.cache

# Next.js build output
.next

# Nuxt.js build output
.nuxt

# Gatsby files
.cache/
public/
